.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  cursor: pointer;
  margin-right: 20px;
}

.headerOptions:hover {
  color: black;
}

.headerOptions__icon {
  object-fit: contain !important;
  height: 30px !important;
  width: 30px !important;
}

.headerOptions__title {
  font-size: 12px;
  font-weight: 400;
}
